*{
  font-family: Arial, Helvetica, sans-serif;
}

#title{ 
  font-size: 400%;
}

.headings{ 
  font-size: 300%;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  background-color: unset;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
  
nav a:hover {
  color: darkblue; 
}
ul{
  list-style-type: none;
}
