:root { 
  /* colors are from the coolors.co webdite. */
  --viridianGreen: #119da4; 
  --tealBlue: #0C7489; 
  --midnightGreen: #13505b; 
  --richBlack: #040404; 
  --timberwolf: #d7d9ce; 
  /* Call them by ex: var(--tealBlue); */ 
}